pandas~=2.2.1
jupyter~=1.0.0
sqlalchemy~=2.0.29
psycopg2-binary
isort~=5.13.2
black~=24.3.0
igraph~=0.11.4
plotly~=5.20.0
transformers~=4.39.3
sentence-transformers
requests
openai
mkdocstrings[python]
mkdocs
mkdocs-material
mkdocs_gen_files
mkdocs-encryptcontent-plugin
flake8